<div class="container main-container">

    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#81ace5" type="square-loader" [fullScreen]="true"><p style="color: white"> Processando... </p></ngx-spinner>

    <h4>Excluir - {{ produto.nome }}</h4>
    <br>
    <h5>Você tem certeza disso?</h5>

    <div class="row">
        <div class="col-md-4">
            <img class="border" src="{{ produto.imagem != null ? produto.imagem.url : '/assets/no-image.png'}}" style="width: 300px; height: 400px; padding: 5px">
        </div>
        <div class="col-md-6">
            <dl>
                <dt>
                    Nome
                </dt>
                <dd>
                    {{ produto.nome }}
                </dd>
                <dt>
                    Preço
                </dt>
                <dd>
                    {{ produto.preco | currencyBrazil }}
                </dd>
            </dl>

            <div>
                <a (click)="excluirProduto()" href="javascript:void(0)" class="btn btn-danger mr-2"><span class="fas fa-trash-alt mr-2"></span>Excluir</a>
                <a class="btn btn-info" href="/produtos"><span class="far fa-hand-point-left mr-2"></span>Voltar</a>
            </div>
        </div>
    </div>
</div>
