<div class="container main-container">

    <h1>Produtos</h1>
    <hr>

    <p><a class="btn btn-info" [routerLink]="['/produtos/cadastrar']"><span class="fas fa-plus-circle mr-2"></span>Cadastrar</a></p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>
                    Nome
                </th>
                <th>
                    Preço
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>
                    <img src="{{ produto.imagem != null ? produto.imagem.url : '/assets/no-image.png'}}" class="border" style="width: 75px; height: 100px; padding: 5px">
                </td>
                <td>
                    {{ produto.nome }}
                </td>
                <td>
                    {{ produto.preco | currencyBrazil }}
                </td>
                <td class="text-right">
                    <a class="btn btn-info mr-2" [routerLink]="['/produtos/editar',produto.id]">
                        <span class="fas fa-pencil-alt"></span>
                    </a>
                    <a class="btn btn-danger" [routerLink]="['/produtos/excluir',produto.id]">
                        <span class="fas fa-trash-alt"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
